@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #131022;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@layer utilities {
  .navigation {
    @apply fixed top-0 z-40 h-[65px] w-full bg-purple-dark shadow-sm shadow-light-black/30;
  }

  .hero-section {
    @apply mx-auto max-w-full px-3 text-white xl:px-12;
  }

  .cta-section {
    @apply px-3 pt-20 md:pt-36 lg:mx-auto lg:max-w-full lg:px-12;
  }

  .category-section {
    @apply mx-auto max-w-full px-3 pt-32 text-white md:pt-44 lg:px-12 xl:pt-64;
  }

  .collection-section {
    @apply mx-auto max-w-full px-3 pt-48 text-white md:pt-72 lg:px-12;
  }

  .support-section {
    @apply mx-auto max-w-full px-3 pt-56 md:pt-64 lg:px-12;
  }

  .footer {
    @apply w-full bg-purple-dark;
  }

  .text-size-12 {
    @apply text-[12px];
  }

  .text-size-14 {
    @apply text-[14px];
  }

  .text-size-15 {
    @apply text-[15px];
  }

  .text-size-16 {
    @apply text-[16px];
  }

  .text-size-18 {
    @apply text-[18px];
  }

  .text-size-20 {
    @apply text-[20px];
  }

  .text-size-22 {
    @apply text-[22px];
  }

  .text-size-24 {
    @apply text-[24px];
  }

  .text-size-26 {
    @apply text-[26px];
  }

  .text-size-28 {
    @apply text-[28px];
  }

  .text-size-30 {
    @apply text-[30px];
  }

  .text-size-36 {
    @apply text-[36px];
  }

  .text-size-40 {
    @apply text-[40px];
  }

  .text-size-50 {
    @apply text-[50px];
  }

  .text-size-60 {
    @apply text-[60px];
  }
}
